@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BebasNeue";
    src: url("/font/BebasNeue/BebasNeue-Regular.ttf");
}

* {
    font-family: "BebasNeue";
    letter-spacing: 1px;
}